/* Styling the fonts*/
.contents p {
    letter-spacing: 2px;
    line-height: 2;
}
.logo span {
    letter-spacing: 1.2px;
}

/* Styling the page*/
.cover-img {
    object-position: -4px 0;
}
.contents {
    position: relative;
    height: 400px;
}
.contents h2 {
    transform: rotate(90deg);
    height: fit-content;
    position: absolute;
    margin: unset;
    transform: translate(-128px, 140px) rotate(-90deg);
}
.contents p{
    width: 292px;
    margin-left: 92px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
img:nth-child(3) {
    width: 350px;
    height: 267px;
    object-fit: cover;
    object-position: 0px -32px;
    transform: translateX(-70px);
}
img:nth-child(4) {
    height: 449px;
    width: 359px;
    object-fit: cover;
    object-position: -150px 0;
    transform: translate(70px, -72px);
}

@media screen and (min-width: 700px) and (max-width: 1050px) {
    main {
        margin-bottom: 20vh;
    }
    #concept {
        margin-top: 8vh;
        margin-bottom: 8vh;
    }
    #second_row {
        margin: 0;
    }
}

@media screen and (max-width: 710px) {
    header {
        background-position: center;
    }
    #intro {
        margin-bottom: 5vh;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    #intro p {
        width: 80%
    }
    #second_row {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-top: unset;
    }
    #second_row img {
        height: 50vh;
        width: 100%;
    }
    #concept {
        grid-row: 1/2;
    }
    #concept li {
        border-left: 2px solid #ddd;
    }
}
/*transition: transform 150ms cubic-bezier(1, 0.26, 0.43, 1.02);