@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

/*--- reset css ---*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*--- Styling the fonts ---*/
:root {
    --black: #2E282A;
    --white: #FFFBF6;
    --bg-gray: #E4DFDA;
    --dk-blue: #247ABA;
    --lt-blue: #84ADCA;
    --lt-gray: #F6F5F3;
}
html, dt, dd, label, input[type=submit] {
    font-family:'Crimson Text', 'Sarabun', sans-serif;
    color: var(--black);
    letter-spacing: .5px;
}
nav a, p {
    font-family:'Roboto', 'Sarabun', sans-serif;
}
.font-size-S {
    font-size: 12px;
}
.font-size-M {
    font-size: 24px;
}
.font-size-L {
    font-size: 64px;
}
.font-size-btn {
    font-size: 16px
}
.lable {
    font-size: clamp(2.5rem, 1.227rem + 6.36vw, 6rem);
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}
.all-caps {
    text-transform: uppercase;
}
nav a{
    text-align: center;
}
nav a:current {
    color: lightblue;
    border-bottom:2px solid #00B0F0;
}
.logo, footer {
    color: var(--dk-blue);
}
nav a {
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
}


/*--- universal class styling---*/
.hidden {
    display: none;
}


/*--- styling pages ---*/
html {
    background: var(--bg-gray);
    overflow-x: unset;
}
body {
    box-sizing: border-box;
    overflow-x: hidden;
}
header {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

#menu-btn {
    width: 24px;
    height: 14px;
    margin-left: auto;
    margin-right: 24px;
    position: relative;
    z-index: 2;
}
#menu-btn span {
    display: block;
    width: 24px;
    height: 2px;
    border-radius: 8px / 8px;
    background: var(--black);
    position: absolute;
}
#menu-btn span:nth-child(2) {
    top: 6px;
}
#menu-btn span:nth-child(3) {
    top: 12px;
}
.logo {
    display: flex;
    align-items: center;
    gap: 4px;
}
.logo span {
    letter-spacing: 1.2px;
}

nav {
    width: 48vw;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    background: var(--white);
    z-index: 1;
}
nav ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 144px;
    margin-left: 24px;
    width: 124px;
}

header h2 {
    position: absolute;
    transform: rotate(90deg);
}

main {
    overflow-x: hidden;
    margin-top: 16px;
}

img {
    border-radius: 8px/8px;
}

.company-name {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.cover-img {
    width: 380px;
    height: 538px;
    transform: translateX(-32px);
    object-fit: cover;
}

.contents {
    margin-top: clamp(0.938rem, -0.994rem + 9.66vw, 6.25rem);
    margin-bottom: clamp(0.938rem, -0.994rem + 9.66vw, 6.25rem);
}
footer {
    background-color: var(--white);
    padding: 50px 0px 25px 0px;
    text-align: center;
}

@media screen and (min-width: 700px) and (max-width: 1050px){
    body {
        background-size: 40%;
    }
    .mobile {
        display: unset;
    }
    .pc {
        display: none;
    }
}

@media screen and (max-width: 710px){
    body {
        background-size: 60%;
    }
    header {
        background-attachment: unset;
    }
    .mobile {
        display: unset;
    }
    .pc {
        display: none;
    }
    footer {
        padding-top: 30px;
    }
}