/* Styling the page*/
header h2 {
    right: -110px;
    top: 240px;
}

.product-line {
    display: flex;
}
.product-line img {
    object-fit: cover;
    width: 137px;
    height: 356px;
}
.desc-holder {
    display: flex;
    flex-direction: column;
    width: 177px;
    justify-content: flex-end;
}
.brief {
    text-align: end;
}
.brief p:nth-child(3) {
    margin-top: 8px;
}
.brief p:nth-child(3)::after {
    content: "";
    display: block;
    width: inherit;
    margin-top: 16px;
    border: .1px solid var(--black);
}
.details {
    margin-top: 8px;
}
.details p {
    line-height: 1.2;
}
.details p:nth-child(1) {
    margin-bottom: 4px;
}
.tables {
    display: flex;
    margin-top: 10px;
}
.tables li {
    margin-bottom: 8px;
}
.table-contents {
    font-family: 'Crimson', serif;
}
.values li {
    border-left: .1px solid var(--black);
    padding-left: 4px;
}
.reveal-btn {
    text-align: end;
    margin-top: 8px;
    color: var(--lt-blue);
}

@media screen and (max-width: 575px){
    main {
        margin-bottom: 15vh;
    }
    .contents > div {
        grid-template-columns: repeat(1, 1fr);
    }
}