/* Styling the page*/
header h2 {
    right: -70px;
    top: 180px;
}

/* main */
.cover-img {
    object-position: -137px 0px;
}

/* contents */
.contents img {
    width: 185px;
    height: auto;
    margin-left: 16px;
    margin-right: 16px;
    float: left;
}
p {
    line-height: 1.5;
    margin: 8px 24px;
}

/*statement*/
#statement dd {
    line-height: 1.2;
}

/*gapの付け方が悪くて画面がズレる*/
@media screen and (min-width: 735px) and (max-width: 1050px) {
    #statement p {
        flex-wrap: wrap;
    }
}